

body {
    max-width: 100%;
    margin: auto;
    font-family: "Open Sans";
    background-color: rgb(213, 231, 199);
}

header {
    text-align: center;
    background-image: url("images/Murmeltier.jpg");
    background-position: 5 35%;
}

header h2 {
    font-size: 4em;
    color: white;
    margin: 0;
    padding: 2.5em 0;
}

header h3 {
    font-size: 2em;
    margin: 0;
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: green;
    font-family: Arial;
    top: 0;
    width: 100%;
}
/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 20px;
    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    width: 60%;
    height: 60%;
    font-size: 16px; 
    border: none;
    outline: none;
    color: rgb(100, 187, 29);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: whitesmoke;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(100, 187, 29);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

main {
    width: 80%;
    margin: auto;
}

.Aktivitäten {
float: left;
width: 200px;
padding: 5px;
font-size: 0.7em;
} 

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 6%;
 
}

.column p {
  text-align: justify;
  width: 320px;
}

.column img {
  height: 250px;
  width: 320px;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Anreise img {
height: 400px;
width: 650px;
}


footer {
    padding: 1em 5 3em 5;
    text-align: right;
    font-style: italic;
    margin-right: 3em;
}

@media only screen and (max-width: 1300px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}