
body {
  max-width: 90%;
  margin: auto;
  font-family: "Open Sans";
  background-color: whitesmoke;
}

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: green;
  background: -moz-linear-gradient(top, green 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, green), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, green 0%, #141414 100%);
  background: -o-linear-gradient(top, green 0%, #141414 100%);
  background: -ms-linear-gradient(top, green 0%, #141414 100%);
  background: linear-gradient(to bottom, green 0%, #141414 100%);
  border-bottom: 2px solid green;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: green;
  background: -moz-linear-gradient(top, green 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, green), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, green3 0%, #141414 100%);
  background: -o-linear-gradient(top, green 0%, #141414 100%);
  background: -ms-linear-gradient(top, green 0%, #141414 100%);
  background: linear-gradient(to bottom, green 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(91, 182, 91);
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px green;
  -moz-box-shadow: inset 0 0 3px green;
  -webkit-box-shadow: inset 0 0 3px green;
  background: #38e60d;
  background: -moz-linear-gradient(top, green 0%, green 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, green), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, green 0%, #070707 100%);
  background: -o-linear-gradient(top, green 0%, #070707 100%);
  background: -ms-linear-gradient(top, green 0%, #070707 100%);
  background: linear-gradient(to bottom, green 0%, #070707 100%);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: rgb(91, 182, 91);
  border-bottom: 1px dotted green;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: green;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}


#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}

main {
    width: 80%;
    margin: auto;
}

.row {
  font-weight: 600;
  height: 5px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 0%;
  margin-left: 100px;
  align-content: center;
 
}

.column p {
  text-align: justify;
  font-style: italic;
  float: left; 
  width: 320px;
}

.column img {
  height: 250px;
  width: 320px;
  border: 6px solid white;
  border-radius: 50%;

  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


#map {
    height: 360px;
    width: 90%;
    border: 1px solid black;
}

.back {
    float: left;
}

.next {
    float: right;
}

footer {
  padding: 1em 5 3em 5;
  text-align: right;
  font-style: italic;
  margin-right: 3em;
}

@media only screen and (max-width: 90%) {
    main .column {
        float: none;
        margin-left: 0;
        width: auto;
    }
}